<div class="material-card md-whiteframe-2dp" layout="column">
    <div class="header" layout="row">
        <div class="icon">
            <sprite-image 
                sprite-src="assets/images/{{ ctrl.material.type }}.png" sprite-scale="2/3"
                elements-row-spacing="1" elements-column-spacing="1"
                element-size-x="96" element-size-y="96"
                element-offset-x="ctrl.material.imageOffset.x" element-offset-y="ctrl.material.imageOffset.y"
                extra-offset-x="ctrl.material.imageOffset.xOffset" extra-offset-y="ctrl.material.imageOffset.yOffset">
            </sprite-image>
        </div>
        <div layout="column" layout-align="center end" flex>
            <div class="value" ng-bind="ctrl.material.quantity"></div>
            <div class="label">{{ ctrl.material.name }}</div>
        </div>
    </div>
    <div class="body" layout="column">
        <armor-piece-row ng-repeat="piece in ctrl.material.requiredBy" armor-piece="piece"></armor-piece-row>
    </div>
</div>