<div layout="column" flex>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 flex md-truncate>Zelda BOTW - Helper</h2>
        </div>
    </md-toolbar>

    <md-content class="cards-container" layout="column" flex>
        <material-card ng-repeat="material in ctrl.materials" material="material"></material-card>
    </md-content>
</div>